@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This is an Video Rental application. Made in order to rent movies to customers. You can login or register and start using the application. Thankyou.</p>
