@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    H.no. 281, Sector-B<br />
    Saink colony, Jammu<br />
    <abbr title="Phone">P:</abbr>
    8899244###
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">hlakhlotra@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">hlakhlotra@rediffmail.com</a>
</address>