@model New_Vidly.ViewModel.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>List of Movies</h3>
<br />
@*@if (Model.Movies.Count == 0)
    {
        <text>No one has rented this movie before.</text>
    }
    else
    {}*@
<table id="movies" class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Movie Name</th>
            <th scope="col">Genre</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var movie in Model.Movies)
            {
                <tr class="table-active">
                    <td>@Html.ActionLink(movie.Name, "MovieDetails", "Movies", new { id = movie.Id }, null)</td>
                    <td>@movie.GenreTypes.Name</td>
                </tr>
            }*@
    </tbody>
</table>

@section scripts
{
    <script>
        $(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    type:"GET",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                    },
                    {
                        data: "genreTypes.name"
                    }
                ]
            });
        });

    </script>
}